@CHARSET "UTF-8";
body { padding-top: 50px; 
	   font-family: Arial, 
	   			   "文泉驛正黑", "WenQuanYi Zen Hei",
	   			   "儷黑 Pro", "LiHei Pro",
	   			   "微軟正黑體", "Microsoft JhengHei",
	   			   "標楷體", DFKai-SB, sans-serif;
	   padding-top: 50px;
	   background-color:#FDFFFF;
}
.navbar{ 
 	margin-bottom: 0px;
}
#section1{
	background:#007979;
}
#section1 a{
	color:#D7FFEE; 
}
#section1 a:hover{
	color:#007979; 
}
#section1 .active a{
	color:#007979;
	background:#D7FFEE;
}
#section2{
	background:#007979;
	height:800px;
}